td {
	width: 60px;
    height: 60px;
	text-align: center;
    vertical-align: middle;
    font-size: 30px;
}

td.brown {   
    background-color: #8B4513;
}

td.white {
    background-color: #FFEFD5;
}

td.rotate {
	transform: rotate(180deg);
}

